---
import Section from "../Section.astro";

import { education } from '@cv'
---

<Section title="Educaci칩n">
    <ul>
        {
            education.map(({ institution, area, startDate, endDate, score }) => {
                const startYear = new Date(startDate).getFullYear()
                const endYear = new Date(endDate).getFullYear() || 'Actualidad'
                // const startMonth = new Date(startDate).toLocaleString('default', { month: 'long' })
                // const endMonth = new Date(endDate).toLocaleString('default', { month: 'long' })
                let year = `${startYear} - ${endYear}`

                // if (institution === "Alem치n UTN FRRo" && startYear === endYear) {
                //     year = `${startMonth} ${startYear} - ${endMonth} ${endYear}`
                // }

                if (institution === "First Certificate in English" || institution === "Alem치n UTN FRRo") {
                    year = `${endYear}`
                }

                return (
                    <article>
                        <header>
                            <div>
                                <h3><a href={'https://www.frro.utn.edu.ar'} target="_blank" rel="noopener noreferrer">{institution}</a></h3>
                                <h4>{area}</h4>
                            </div>
                            <time>{year}</time>
                        </header>
                        <p>Puntuaci칩n: {score}</p>
                    </article>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3 {
        font-weight: 500;
        color: #111;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    article h3:hover {
        color: #4e4e4e;
        transform: scale(1.05);
    }

    article h4 {
        font-weight: 400;
        color: #222;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: #555;
        font-size: 0.85rem;
    }
</style>
